<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by title"
          [(ngModel)]="title"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchTitle()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h3><b>Lista svih vijesti</b></h3>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let vijest of vijesti; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveVijest(vijest, i)"
        >
          {{ vijest.naslov }}
        </li>
      </ul>
  
      <button class="btn btn-sm btn-danger mt-2" (click)="removeAllVijesti()">
        Obriši sve vijesti
      </button>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentVijest._id">
        <h4><b>Odabrana vijest</b></h4>
        <div>
          <label><strong>Slika:</strong></label>
          <img src="{{ currentVijest.slika }}" >
        </div>
        <div>
          <label><strong>Naslov:</strong></label> {{ currentVijest.naslov }}
        </div>
        <div>
          <label><strong>Opis:</strong></label>
          {{ currentVijest.tekst_kratki }}
        </div>
        <!--<div>
          <label><strong>Status:</strong></label>
          {{ currentVijest.published ? "Published" : "Pending" }}
        </div>
    -->
  
        <a class="btn btn-sm btn-warning" routerLink="/vijesti/{{ currentVijest._id }}">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentVijest">
        <br />
        <p>Odaberi vijest...</p>
      </div>
    </div>
  </div>
