<div>
    <div *ngIf="currentVijest._id" class="edit-form">
      <h4>Unos nove vijesti</h4>
      <form>
        <div class="form-group">
          <label for="title"><strong>Naslov članka:</strong></label>
          <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="currentVijest.naslov"
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="title" class="mt-2"><strong>Kategorija:</strong></label>
          <select class="form-select" name="kategorija" [(ngModel)]="selectedKategorija">
            <option *ngFor="let kategorija of kategorije">
              {{ kategorija }}
            </option>
          </select>
          <p>Selected kategorija je: {{selectedKategorija}}</p>
        </div>
        
        


        <div class="form-group">
          <label for="description" class="mt-2"><strong>Uvod u članak:</strong></label>
          <textarea
            type="text"
            class="form-control"
            id="description"
            [(ngModel)]="currentVijest.tekst_kratki"
            name="description">
          </textarea>
        </div>
        <div class="form-group">
          <label for="image"><strong>Priloži link na sliku</strong></label>
          <textarea class="form-control"
          id="image"
          required
          [(ngModel)]="currentVijest.slika"
          name="image">
            
          </textarea>
        </div>
        <div class="form-group">
          <label for="clanak" class="mt-2"><strong>Cijeli članak:</strong></label>
          <textarea
            type="text"
            class="form-control"
            id="clanak"
            [(ngModel)]="currentVijest.tekst_full"
            name="clanak">
          </textarea>
        </div>
  
        <!-- <div class="form-group">
          <label><strong>Status:</strong></label>
          {{ currentTutorial.published ? "Published" : "Pending" }}
        </div> -->
      </form>
  
      <!-- <button
        class="badge badge-primary mr-2"
        *ngIf="currentVijest.published"
        (click)="updatePublished(false)"
      >
        UnPublish
      </button>
      <button
        *ngIf="!currentTutorial.published"
        class="badge badge-primary mr-2"
        (click)="updatePublished(true)"
      >
        Publish
      </button> -->
  
      <button class="btn btn-danger mt-2" (click)="deleteVijest()">
        Delete
      </button>
  
      <button
        type="submit"
        class="btn btn-success mt-2 ms-2"
        (click)="updateVijest()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentVijest._id">
      <br />
      <p>Cannot access this vijest...</p>
    </div>
  </div>
