<h1><b>ANGULAR</b>-newsbar</h1>
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="d-flex justify-content-start collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
          <a class="nav-link active" aria-current="page" href="#">SPORT</a>
          <a class="nav-link" href="#">ZNANOST</a>
          <a class="nav-link" href="#">POLITIKA</a>
        </div>
        <div class="d-flex justify-content-end collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ">
            <div ngbDropdown class="d-inline-block" *ngIf="showAdminBoard">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>ADMIN</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <li class="nav-item">
                  <a routerLink="vijesti" class="nav-link">Izmjena vijesti</a>
                </li>
                <li class="nav-item">
                  <a routerLink="add" class="nav-link">Dodaj novu vijest</a>
                </li>
              </div>
            </div>
            <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
              <li class="nav-item">
                <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
              </li>
              <li class="nav-item">
                <a href="/login" class="nav-link" routerLink="login">Login</a>
              </li>
            </ul>
        
            <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
              <li class="nav-item">
                <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
              </li>
              <li class="nav-item">
                <a href class="nav-link" (click)="logout()">LogOut</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>