<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="title">Naslov</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            [(ngModel)]="vijest.naslov"
            name="title"
          />
        </div>
  
        <div class="form-group">
          <label for="description">Opis</label>
          <textarea class="form-control"
          id="description"
          required
          [(ngModel)]="vijest.tekst_kratki"
          name="description">
            
          </textarea>
        </div>

        <div class="form-group">
          <label for="image">Priloži link na sliku</label>
          <textarea class="form-control"
          id="image"
          required
          [(ngModel)]="vijest.slika"
          name="image">
            
          </textarea>
        </div>
  
        <button (click)="saveVijest()" class="btn btn-success mt-2">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Tutorial was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newVijest()">Add</button>
      </div>
    </div>
  </div>