<div class="col-md-12">
    <div class="card card-container">
      <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      />
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group mt-2">
          <label for="username">Korisničko ime:</label>
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="form.username"
            required
            minlength="3"
            maxlength="20"
            #username="ngModel"
          />
          <div class="alert-danger" *ngIf="username.errors && f.submitted">
            <div *ngIf="username.errors.required">Korisničko ime je potrebno unijeti!</div>
            <div *ngIf="username.errors.minlength">
              Korisničko ime mora imati minimalno 3 znaka!
            </div>
            <div *ngIf="username.errors.maxlength">
              Korisničko ime može imati maksimalno 20 znakova!
            </div>
          </div>
        </div>
        <div class="form-group mt-2">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            required
            email
            #email="ngModel"
          />
          <div class="alert-danger" *ngIf="email.errors && f.submitted">
            <div *ngIf="email.errors.required">Email je potrebno unijeti!</div>
            <div *ngIf="email.errors.email">
              Morate unijeti validnu email adresu!
            </div>
          </div>
        </div>
        <div class="form-group mt-2">
          <label for="password">Lozinka:</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />
          <div class="alert-danger" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors.required">Lozinku je potrebno unijeti!</div>
            <div *ngIf="password.errors.minlength">
              Lozinka mora imati minimalno 6 znakova!
            </div>
          </div>
        </div>
        <div class="form-group mt-2">
          <button class="btn btn-primary btn-block">Registriraj se</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Registracija neuspješna!<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Registracija uspješna!
      </div>
    </div>
  </div>
  <!-- Footer-->
<footer class="py-5 bg-dark footer">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Antonijo Ćosić - newsbar</p></div>
</footer>